Power Automate Services/Workflows/CheckCustomer-3D21741D-D31C-EF11-840B-00224860DECF.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "66ddd9c2-2cf6-4460-b1b3-6df2f960e5ff"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "CustomerEmail": {
                  "type": "string"
                }
              }
            },
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "HTTP_-_Get_contact_list": {
          "runAfter": {
            "Variable_initialisieren": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "619f650a-41df-4cd2-8e84-50492f8dad72"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://api.bexio.com/2.0/contact",
            "headers": {
              "Authorization": "Bearer eyJraWQiOiI2ZGM2YmJlOC1iMjZjLTExZTgtOGUwZC0wMjQyYWMxMTAwMDIiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJpc21hZWxnaW9zdWUubGl1enppQHN0dWRlbnRzLmZobncuY2giLCJsb2dpbl9pZCI6IjVkZTg4YTYzLTI0NzktNDQ3My04ODI3LWZjNTZkNTg2MzMxNiIsImNvbXBhbnlfaWQiOiJ0a3h1aW1qMXlreWQiLCJ1c2VyX2lkIjo0MTg4NDAsImF6cCI6ImV2ZXJsYXN0LXRva2VuLW9mZmljZS1jbGllbnQiLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIGFsbCB0ZWNobmljYWwiLCJpc3MiOiJodHRwczpcL1wvaWRwLmJleGlvLmNvbSIsImV4cCI6MzI5MzU0NTA1MSwiaWF0IjoxNzE2NzQ1MDUxLCJjb21wYW55X3VzZXJfaWQiOjEsImp0aSI6IjBjMDkxOTlhLWNmOWMtNGYyZS1iNjg1LWQzNGMzNGVmMGU5YSJ9.lruVw17543irParH2rLAXC7TEBGgVuUaypmVVWzavDpSiQXdMCeZRBaWHnlrXCBMZ5hnXUgopnwYrtbGcxq2hu4jZvJRbqf414nuyyI0dY3zWTNGbdyZQnkMIcIp00wYNqfL7rwaWheNh6wUGSC8piSzl5dsz1jzhB6B8T4o3FPfe-KiwFYZlXG3bxNTQUHAxEIlrAmyEPuGj8h9QNUpAq_n9t2jcTGQGNUuEY_KtGrQCrI34VpK4Q5PKTg_VmQd1QXRDCmCn2stODrEp3OdV1VGHVA6YlPRg6rEvWoXfSr-9m_jHXa0v9aC7j-q1YjBqr6Tlync5fGEFhbkfkBBaPqpvL233YfzXOKl2E_XCkWgWZmUS95N3WZP9MH4Hz68eIHX0uhRv9cQEFfNUqpxLN-youZNbNZ5zemYb5q0Y1t3PKjbnyTOOjdy_Er1Z4T6_mllqL68wYexyXh6f-MriNyUky0g9xscS-2dNpuT71z_TlhQXuz8RHwxGICLAAP89QhQc53VY6bFk3BlZSBUaFtjh4a7lbIo2G4KOvJWGRrHCM0ScyALm3fvxepNCycQ_rtmfape1RqyUXQilaEw6roY6tXu0VZmTtV_zK_2inOddMJaobWSt731Si9Jlvu-3riYAY56M2mN4aHcsYKWb-jZ4ksnf7CLElGj1WWsFVs",
              "Accept": "application/json"
            }
          }
        },
        "Variable_initialisieren": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "90fc9baf-5fa3-432b-ae70-cd66de5a4f39"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "result",
                "type": "string",
                "value": "{\n\"CustomerExisting\": false,\n\"CustomerID\": \"tbd\"\n}"
              }
            ]
          }
        },
        "Antwort": {
          "runAfter": {
            "Auf_alle_anwenden_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2613dbff-8124-4ce9-9bc6-6bc24e78b9b2"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@variables('result')"
          }
        },
        "JSON_analysieren": {
          "runAfter": {
            "HTTP_-_Get_contact_list": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b8499687-1361-4259-9335-dffe1a098fa9"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP_-_Get_contact_list')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "nr": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "contact_type_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "name_1": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "name_2": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "salutation_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "salutation_form": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "title_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "birthday": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "address": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "postcode": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "city": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "country_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "mail": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "mail_second": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "phone_fixed": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "phone_fixed_second": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "phone_mobile": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "fax": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "skype_name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "remarks": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "language_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "is_lead": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "contact_group_ids": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "contact_branch_ids": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "user_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "owner_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "updated_at": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "Auf_alle_anwenden_2": {
          "foreach": "@body('JSON_analysieren')",
          "actions": {
            "Bedingung_2": {
              "actions": {
                "Variable_festlegen_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cf8f98cd-faaf-40f2-bfe2-fcc680ec8991"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "result",
                    "value": "{\n  \"CustomerExisting\": true,\n   \"CustomerID\": \"@{items('Auf_alle_anwenden_2')['id']}\"\n}"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "equals": [
                  "@items('Auf_alle_anwenden_2')['mail']",
                  "@triggerBody()?['CustomerEmail']"
                ]
              },
              "metadata": {
                "operationMetadataId": "6e22bc82-d0b4-4821-980b-ee4385d5ca6c"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "JSON_analysieren": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cf18fab1-84fd-4848-b420-89e1443fb836"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}