Power Automate Services/Workflows/SendOffer-F92EDEF4-091D-EF11-840B-00224860DECF.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_00e31"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "e5040d2b-8394-4943-a74a-ea01dd99abde"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "OrderID": {
                  "type": "string"
                },
                "CustomerEmail": {
                  "type": "string"
                },
                "CustomerFirstName": {
                  "type": "string"
                },
                "CustomerLastName": {
                  "type": "string"
                },
                "CustomerAddress": {
                  "type": "string"
                },
                "CustomerPLZ": {
                  "type": "string"
                },
                "CustomerCity": {
                  "type": "string"
                },
                "SongsAmount": {
                  "type": "integer"
                },
                "ServiceType": {
                  "type": "string"
                },
                "DeliveryDate": {
                  "type": "string"
                },
                "total_price": {
                  "type": "integer"
                }
              }
            },
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Compose_file_content": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "78c88fe2-ddfa-4551-b7d8-e7704cd58583"
          },
          "type": "Compose",
          "inputs": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Mondetto Music Project</title>\n    <style>\n            #postButton {\n            background-color:  #ff6600;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            font-size: 16px;\n            cursor: pointer;\n        }\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f9f9f9;\n            padding: 20px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            padding: 20px;\n            border-radius: 10px;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n        }\n        h1 {\n            color: #333;\n        }\n        p {\n            font-size: 16px;\n            line-height: 1.6;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #ff6600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Dear @{triggerBody()?['CustomerFirstName']},</h1>\n        <p>We’re thrilled that you’ve chosen Mondetto for your music project! 🎵</p>\n        <p class=\"highlight\">We are happy to announce that we can fulfill the following requested order:</p>\n        <ul>\n            <li><span class=\"highlight\">Amount of Songs:</span>   @{triggerBody()?['SongsAmount']}</li>\n            <li><span class=\"highlight\">Delivery Date:</span>   @{triggerBody()?['DeliveryDate']}</li>\n            <li><span class=\"highlight\">Service Type:</span>   @{triggerBody()?['ServiceType']}</li>\n            <li><span class=\"highlight\">Total Price:</span>  @{triggerBody()?['total_price']} CHF</li>\n        </ul>\n        <p>If you want to accept this offer, please click the button below:</p>\n        <p><button id=\"postButton\"> Accept Offer </button></p>\n\n       <script>\n        document.getElementById(\"postButton\").addEventListener(\"click\", async function() {\n            const url = \"https://digibp.herokuapp.com/engine-rest/message\"; // Replace with your desired URL\n            const data = {\n    \"messageName\": \"OfferAcceptanceReceived\",\n    \"businessKey\": \"@{triggerBody()?['OrderID']}\",\n    \"tenantId\": \"24DIGIBP3\"\n   }; // Your JSON data\n\n            try {\n                const response = await fetch(url, {\n                    method: \"POST\",\n                    headers: {\n                        \"Content-Type\": \"application/json\"\n                    },\n                    body: JSON.stringify(data)\n                });\n\n                if (response.ok) {\n                    document.body.innerHTML = '<div class=\"container\"><h1 class=\"highlight\"> Offer accepted - Thank you! </h1></div>'; // Display \"Thank You\" inside the button\n                } else {\n                   document.body.innerHTML = '<div class=\"container\"><h1 class=\"highlight\"> Error offer could not be accepted anymore! </h1></div>'; // Display \"Thank You\" inside the button\n                }\n            } catch (error) {\n                console.error(\"Error making POST request:\", error);\n            }\n        });\n\n        document.getElementById(\"postButton\").addEventListener(\"mouseover\", function() {\n            // Show a tooltip or any other visual indication when hovering over the button\n            // You can customize this behavior as needed\n        });\n    </script>\n        <p>Please take care that this offer is only valid for 12 hours.</p>\n        <p>Got questions? Reach out to us by replying to this email. Let’s create something extraordinary together! 🎶</p>\n        <p>Warm regards,<br>Mondetto</p>\n    </div>\n</body>\n</html>"
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Compose_file_content": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a6e18c57-0593-4af0-a841-649bd7321a6e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@triggerBody()?['CustomerEmail']",
              "emailMessage/Subject": "Your Mixing request is confirmed - Offer #@{triggerBody()?['OrderID']} 🙌",
              "emailMessage/Body": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Mondetto Music Project</title>\n    <style>\n            #postButton {\n            background-color:  #ff6600;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            font-size: 16px;\n            cursor: pointer;\n        }\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f9f9f9;\n            padding: 20px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            padding: 20px;\n            border-radius: 10px;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n        }\n        h1 {\n            color: #333;\n        }\n        p {\n            font-size: 16px;\n            line-height: 1.6;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #ff6600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Dear @{triggerBody()?['CustomerFirstName']},</h1>\n        <p class=\"highlight\">Please check the offer in the attachement and accept it. 🎵</p>\n                <p>Please take care that this offer is only valid for 12 hours.</p>\n        <p>Got questions? Reach out to us by replying to this email. Let’s create something extraordinary together! 🎶</p>\n        <p>Warm regards,<br>Mondetto</p>\n    </div>\n</body>\n</html>",
              "emailMessage/Attachments": [
                {
                  "Name": "Offer_@{triggerBody()?['OrderID']}.html",
                  "ContentBytes": "@outputs('Compose_file_content')"
                }
              ],
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Response": {
          "runAfter": {
            "Send_an_email_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6843f7c7-ac84-4bdb-8afd-638737c9a04b"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": {
              "OfferSent": "yes"
            },
            "schema": {
              "OfferSent": "yes"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}