Power Automate Services/Workflows/SendTask-D2B8BA99-0920-EF11-840B-00224860DECF.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_00e31"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_1a190"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "e5040d2b-8394-4943-a74a-ea01dd99abde"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "OrderID": {
                  "type": "string"
                },
                "AssignedTo": {
                  "type": "string"
                },
                "SongID": {
                  "type": "string"
                },
                "SongsAmount": {
                  "type": "integer"
                },
                "ServiceType": {
                  "type": "string"
                },
                "FilesURL": {
                  "type": "string"
                },
                "DeliveryDate": {
                  "type": "string"
                }
              }
            },
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Compose_file_content": {
          "runAfter": {
            "Grant_access_to_an_item_or_a_folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "78c88fe2-ddfa-4551-b7d8-e7704cd58583"
          },
          "type": "Compose",
          "inputs": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Mondetto Music Project</title>\n    <style>\n            #postButton {\n            background-color:  #ff6600;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            font-size: 16px;\n            cursor: pointer;\n        }\n            #completeButton {\n            background-color:  #ff6600;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            font-size: 16px;\n            cursor: pointer;\n        }\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f9f9f9;\n            padding: 20px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            padding: 20px;\n            border-radius: 10px;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n        }\n        h1 {\n            color: #333;\n        }\n        p {\n            font-size: 16px;\n            line-height: 1.6;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #ff6600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Dear Partner,</h1>\n        <p class=\"highlight\">We like to request, if you can perform the following song mixing:</p>\n        <ul>\n            <li><span class=\"highlight\">Song #@{triggerBody()?['SongID']} :</span>  <a href=\"@{triggerBody()?['FilesURL']}\" target=\"_blank\"> Link to the raw Songfiles </a></li>\n            <li><span class=\"highlight\">Deadline: </span> @{formatDateTime(addHours(utcNow(), 24), 'dd.MM.yyyy HH:mm')}</li>\n            <li><span class=\"highlight\">Compensation: </span> 60.- CHF</li>\n        </ul>\n        <p>If you want to accept this task, please click the button below:</p>\n        <p><button id=\"postButton\"> ✅  Accept Task Offer ✅  </button></p>\n\n       <script>\n        document.getElementById(\"postButton\").addEventListener(\"click\", async function() {\n            const url = \"https://digibp.herokuapp.com/engine-rest/message\"; // Replace with your desired URL\n            const data = {\n    \"messageName\": \"ReceiveTaskAcceptance\",\n    \"businessKey\": \"@{triggerBody()?['OrderID']}\",\n    \"tenantId\": \"24DIGIBP3\",\n    \"localCorrelationKeys\": {\n        \"AssignedTo\": {\n            \"value\": \"@{triggerBody()?['AssignedTo']}\",\n             \"type\": \"String\",\n             \"valueInfo\": {\"transient\": true}\n        },\n        \"SongID\": {\n        \"value\": \"@{triggerBody()?['SongID']}\",\n         \"type\": \"String\",\n         \"valueInfo\": {\"transient\": true}\n        }\n      },\n    \"processVariablesLocal\": {\n    \"Deadline\": {\n    \"value\": \"@{formatDateTime(addHours(utcNow(), 24), 'yyyy-MM-ddTHH:mm:ssZ')}\",\n    \"type\": \"String\"\n      }\n   \n  }\n    \n    \n   }; // Your JSON data\n\n            try {\n                const response = await fetch(url, {\n                    method: \"POST\",\n                    headers: {\n                        \"Content-Type\": \"application/json\"\n                    },\n                    body: JSON.stringify(data)\n                });\n\n                if (response.ok) {\n                    document.body.innerHTML = '<div class=\"container\"><h1 class=\"highlight\"> Task accepted - Upload your final song version into the song files folder  and mark task as completed 🏁 - Thank you! </h1></div>'; // Display \"Thank You\" inside the button\n                } else {\n                   document.body.innerHTML = '<div class=\"container\"><h1 class=\"highlight\"> Error task could not be accepted anymore! </h1></div>'; // Display \"Thank You\" inside the button\n                }\n            } catch (error) {\n                console.error(\"Error making POST request:\", error);\n            }\n        });\n\n        document.getElementById(\"postButton\").addEventListener(\"mouseover\", function() {\n            // Show a tooltip or any other visual indication when hovering over the button\n            // You can customize this behavior as needed\n        });\n    </script>\n            <p><button id=\"completeButton\"> 🏁 Mark Task as Completed - Song is mixed 🏁</button></p>\n\n       <script>\n        document.getElementById(\"completeButton\").addEventListener(\"click\", async function() {\n            const url = \"https://digibp.herokuapp.com/engine-rest/message\"; // Replace with your desired URL\n            const data = {\n    \"messageName\": \"ReceiveTaskCompletion\",\n    \"businessKey\": \"@{triggerBody()?['OrderID']}\",\n    \"tenantId\": \"24DIGIBP3\",\n    \"localCorrelationKeys\": {\n        \"AssignedTo\": {\n            \"value\": \"@{triggerBody()?['AssignedTo']}\",\n             \"type\": \"String\",\n             \"valueInfo\": {\"transient\": true}\n        },\n        \"SongID\": {\n        \"value\": \"@{triggerBody()?['SongID']}\",\n         \"type\": \"String\",\n         \"valueInfo\": {\"transient\": true}\n        }\n      }\n }; // Your JSON data\n\n            try {\n                const response = await fetch(url, {\n                    method: \"POST\",\n                    headers: {\n                        \"Content-Type\": \"application/json\"\n                    },\n                    body: JSON.stringify(data)\n                });\n\n                if (response.ok) {\n                    document.body.innerHTML = '<div class=\"container\"><h1 class=\"highlight\"> Song mixing completed - you will receive the compensation by Twint - Thank you! </h1></div>'; // Display \"Thank You\" inside the button\n                } else {\n                   document.body.innerHTML = '<div class=\"container\"><h1 class=\"highlight\"> Error - either deadline is over OR you already completed! </h1></div>'; // Display \"Thank You\" inside the button\n                }\n            } catch (error) {\n                console.error(\"Error making POST request:\", error);\n            }\n        });\n\n        document.getElementById(\"completeButton\").addEventListener(\"mouseover\", function() {\n            // Show a tooltip or any other visual indication when hovering over the button\n            // You can customize this behavior as needed\n        });\n    </script>\n        <p>Please take care that this task offer is only valid for 12 hours. If you dont want to accept it you can ignore. </p>\n        <p>Afer you accept, you can mark it as completed via the second button. Let’s create something extraordinary together! 🎶</p>\n        <p>Warm regards,<br>Mondetto</p>\n    </div>\n</body>\n</html>"
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Compose_file_content": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a6e18c57-0593-4af0-a841-649bd7321a6e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@triggerBody()?['AssignedTo']",
              "emailMessage/Subject": "Song mixing task offer - Please accept or ignore 🙌",
              "emailMessage/Body": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Mondetto Music Project</title>\n    <style>\n            #postButton {\n            background-color:  #ff6600;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            font-size: 16px;\n            cursor: pointer;\n        }\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f9f9f9;\n            padding: 20px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            padding: 20px;\n            border-radius: 10px;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n        }\n        h1 {\n            color: #333;\n        }\n        p {\n            font-size: 16px;\n            line-height: 1.6;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #ff6600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Dear Partner,</h1>\n        <p class=\"highlight\">Please check the task request details in the attachement and accept within 12h or just ignore it. 🎵</p>\n        <p>Got questions? Reach out to me via Phone. Let’s create something extraordinary together!</p>\n        <p>Warm regards,<br>Mondetto</p>\n    </div>\n</body>\n</html>",
              "emailMessage/Attachments": [
                {
                  "Name": "TaskOffer_Order @{triggerBody()?['OrderID']}_Song @{triggerBody()?['SongID']}.html",
                  "ContentBytes": "@outputs('Compose_file_content')"
                }
              ],
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Response": {
          "runAfter": {
            "Send_an_email_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6843f7c7-ac84-4bdb-8afd-638737c9a04b"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "schema": {
              "OfferSent": "yes"
            }
          }
        },
        "Grant_access_to_an_item_or_a_folder": {
          "runAfter": {
            "Get_folder_metadata": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8bdbbd00-63cc-4393-8c58-9e8ff67c0ea5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GrantAccess",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://mondetto.sharepoint.com/sites/DigiBP",
              "table": "e78f852b-d7c4-4d94-82c6-8303ac14fa47",
              "id": "@outputs('Get_folder_metadata')?['body/ItemId']",
              "parameter/recipients": "@triggerBody()?['AssignedTo']",
              "parameter/roleValue": "role:1073741826",
              "parameter/sendEmail": false
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_folder_metadata": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c1c2e8c1-f5fe-43b5-8847-9b1edab90959"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFolderMetadata",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://mondetto.sharepoint.com/sites/DigiBP",
              "id": "/Shared Documents/Orders_Songfiles/@{triggerBody()?['OrderID']}_Order"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}